#window {
    background-color: rgba(0.3, 0.3, 0.3, 0.8);
}

image {
    margin-left: 0.25rem;
    margin-right: 0.75rem;
}

#entry {
    padding: 0.5rem;
}

#input {
    padding: 0.5rem;
    background-color: rgba(0.7, 0.7, 0.7, 0.7);
}

